absl-py==2.3.1
appdirs==1.4.4
atomicwrites==1.4.0
geopandas==1.1.1
grpcio==1.75.0
jsonpointer==2.1
kaggle==1.7.4.5
kagglehub==0.3.13
labelImg==1.8.6
lxml==5.3.0
matplotlib==3.10.0
mkl-service==2.4.0
opencv-python==4.12.0.88
polars==1.32.3
progressbar==2.5
pyasn1-modules==0.2.8
pydeck==0.9.1
pyls-spyder==0.4.0
pyogrio==0.11.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==308
setuptools==72.1.0
shapely==2.1.2
simple-image-download==0.5
streamlit==1.50.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
thop==0.1.1.post2209072238
torch==2.8.0
torchvision==0.23.0
ultralytics==8.3.187
ultralytics-thop==2.0.16
wheel==0.45.1
xlsxwriter==3.2.9
xmltodict==1.0.0
